/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.home-container {
    padding: 20px;
    text-align: center;
}

.welcome {
    margin-bottom: 30px;
}

.welcome h1 {
    font-size: 2.5em;
    color: #0b874b;
}

.welcome p {
    font-size: 1.2em;
    color: #555;
}

/* Sheikh Cards Section */
.sheikh-cards h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    font-size: 1.5em;
    margin: 15px 0;
    color: #0b874b;
}

.card p {
    font-size: 1em;
    color: #666;
    padding: 0 10px;
}

.details-btn {
    display: inline-block;
    margin: 15px 0;
    padding: 10px 20px;
    background-color: #0b874b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.details-btn:hover {
    background-color: #066837;
}
