{% extends "header.html" %}
{% block content %}
<div class="row media content-section mobiledevice">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="d-flex">
            <div>
                <h1 class="title-style">About Quran Heaven</h1>
            </div>
        </div>
        <p>
            Welcome to <strong>Quran Heaven</strong>, a website designed to facilitate the learning and understanding of the Quran.
        </p>
        <p>
            Quran Heaven is a free, open-source, and community-driven project, aiming to provide a platform for Muslims and non-Muslims alike to learn and understand the Quran.
        </p>
        <p>
            The concept of Quran Heaven is to create a space where people can come together to learn and discuss the Quran, share knowledge and ideas, and build a community of like-minded individuals.
        </p>
        <p>
            The project is built using Django, a Python web framework, and uses a wide range of technologies such as Bootstrap, jQuery, and Font Awesome.
        </p>
        <p><h1>Our mission</h1>
            Our mission is to make the Quran accessible to everyone, regardless of background or level of experience. We aim to bridge the gap between the timeless wisdom of the Quran and the everyday lives of Muslims and seekers of knowledge around the world. By offering accurate translations, tafsir (exegesis), audio recitations, and interactive learning tools, we hope to foster a deeper connection to the Quran and its teachings.</p>
            <h1>What We Offer</h1>
            <p>Quranic Translations: We offer a variety of high-quality translations in multiple languages to ensure that the message of the Quran is understood by people worldwide.
                Tafsir & Exegesis: Gain deeper insights into the verses of the Quran with our collection of tafsir resources. Our goal is to provide clear and scholarly explanations to help you better understand the text in context.
                Audio & Recitations: Experience the beauty of the Quran with our curated collection of recitations by renowned Qari’s. Listen to the Quranic verses in their authentic Arabic form and learn how to pronounce them correctly.
                Interactive Learning: Our site features quizzes, courses, and interactive lessons to help you engage with the Quran and improve your understanding, memorization, and reflection.</p>
    </div>
</div>
{% endblock content %}
